<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.github.blog.mapper.BlogMapper">
  <select id="page" resultType="org.github.blog.vo.BlogPageVo">
    SELECT
      id,
      user_id,
      title,
      description,
      content,
      status,
      publish_time
    FROM m_blog mb
  </select>
</mapper>
