<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.github.web.module.sys.menu.mapper.IMenuMapper">
  <select id="queryPage" resultType="org.github.web.module.sys.menu.model.vo.QueryMenuListVO">
    select sm.*,
    smp.name as parent_name
    from sys_menu sm
    left join sys_menu smp on sm.parent_id = smp.id
    <where>
      <if test="bo.name!=null and bo.name!=''">
        and sm.name like concat(#{bo.name},'%')
      </if>
    </where>
  </select>
</mapper>
