<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.github.base.mapper.TipOptLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.github.base.entity.TipOptLogEntity">
        <id column="log_id" property="logId" />
        <result column="opt_user" property="optUser" />
        <result column="opt_date" property="optDate" />
        <result column="opt_content" property="optContent" />
        <result column="opt_action" property="optAction" />
        <result column="opt_ip" property="optIp" />
    </resultMap>

</mapper>
