<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.github.web.mapper.ICategoryShowMapper">
  <resultMap id="categoryVo" type="org.github.web.model.vo.CategoryVO">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="type" property="type"/>
    <result column="father_id" property="fatherId"/>

    <collection property="list" ofType="org.github.web.model.vo.SubCategoryVO">
      <id column="sub_id" property="subId"/>
      <result column="sub_name" property="subName"/>
      <result column="sub_type" property="subType"/>
      <result column="sub_father_id" property="subFatherId"/>
    </collection>
  </resultMap>

  <resultMap id="newItemsVO" type="org.github.web.model.vo.NewItemsVO">
    <id column="root_cat_id" property="rootCatId"/>
    <result column="root_cat_name" property="rootCatName"/>
    <result column="slogan" property="slogan"/>
    <result column="cat_image" property="catImage"/>
    <result column="bg_color" property="bgColor"/>

    <collection property="simpleItemList" ofType="org.github.web.model.vo.ItemsVO">
      <id column="item_id" property="itemId"/>
      <result column="item_name" property="itemName"/>
      <result column="item_url" property="itemUrl"/>
      <result column="created_time" property="createdTime"/>
    </collection>
  </resultMap>

  <select id="queryAllSubCat" resultMap="categoryVo">
    select
      f.id        as id,
      f.name      as name,
      f.type      as type,
      f.father_id as father_id,
      c.id        as sub_id,
      c.name      as sub_name,
      c.type      as sub_type,
      c.father_id as sub_father_id
    from category f
           left join category c on f.id = c.father_id
    where f.father_id = #{id}
  </select>

  <select id="getSixNewItemsLazy" resultMap="newItemsVO">
    select
      f.id           as root_cat_id,
      f.name         as root_cat_name,
      f.slogan       as slogan,
      f.cat_image    as cat_image,
      f.bg_color     as bg_color,
      i.id           as item_id,
      i.item_name    as item_name,
      ii.url         as item_url,
      i.created_time as created_time
    from category f
           left join items i on f.id = i.root_cat_id
           left join items_img ii on i.id = ii.item_id
    where f.type = 1
      and i.root_cat_id = #{id}
      and ii.is_main = 1
    order by i.created_time desc
    limit 0,6
  </select>
</mapper>
