<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.github.leadnews.article.mapper.IArticleHomeMapper">
  <select id="getDefaultArticle" resultType="org.github.leadnews.article.dto.ArticleHomeLoadVO">
    select *
    from ap_article aa
    <where>
      <if test='bo.provinceId != null'>
        and aa.province_id = #{bo.provinceId}
      </if>
      <if test='bo.cityId != null'>
        and aa.city_id = #{bo.cityId}
      </if>
      <if test='bo.countryId != null'>
        and aa.county_id = #{bo.countryId}
      </if>
      <if test='bo.type == 1'>
        and aa.publish_time <![CDATA[<]]> #{bo.time}
      </if>
      <if test='bo.type == 2'>
        and aa.publish_time > #{bo.time}
      </if>
      <if test='bo.tag != null and bo.tag != ""'>
        and aa.channel_id = #{bo.tag}
      </if>
      <if test='bo.articleIdList != null and bo.articleIdList.size() != 0'>
        and aa.id in
        <foreach collection="bo.articleIdList" open="(" separator="," close=")" item="articleId">
          #{articleId}
        </foreach>
      </if>
    </where>
  </select>
</mapper>
